*{
    margin: 0;
    padding: 0;
}
body{
  display: flex;
  justify-content: center;  
  margin: 150px;
  background-image: url('field1.jpg');
  background-repeat: no-repeat;
  background-size: cover
}


#boxK{
    
    display: flex;
    flex-direction: row;
    border: 1px solid none;
    width: 100%;
    height: 100%;
    justify-content:center ;
    flex-wrap: nowrap;
    max-width: 75%;

}


.leftSide{
    display: block;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    border: 3px solid rgb(255, 255, 255);
    margin: 5px;
    width: 40%;
    height: auto;
    padding-top: 100px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    background-color: rgba(240, 240, 240, 0.548);
    min-width: 150px;

}
.leftSide input[type="text"],input[type="password"]{
  display: flex;
  margin:  auto;
  margin-top: 25px;
  text-align: left;
  border: 2px solid rgb(7, 6, 6);
  padding: 14px 10px;
  height: 1px;
  width: 60%;
  background-color: white;
}

.leftSide input[type="submit"]{
    display: block;
    text-align: center;
    width: 40%;
    border: 3px solid black;
    padding: 7px;
    margin: auto;
    margin-top: 100px;
    border-radius: 25px;
    font-family: fantasy;
    font-size: large;
    cursor: pointer;
    min-width: fit-content;
    
}
.rightSide{
    
    text-align: center;
    align-items: center;
    display: block;
    border: 3px solid rgb(255, 255, 255);
    margin: 5px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    height: auto;
    width: 60%;
    background-color: rgb(58, 57, 57);
    min-width: 250px;
    
    
}
.rightSide input[type="text"],.rightSide input[type="email"],.rightSide input[type="password"]{
    border: none;

    display: block;
    margin:  auto;
    margin-top: 20px;
    text-align: left;
    border: 2px solid rgb(7, 6, 6);
    padding: 14px 10px;
    height: 1px;
    width: 60%;
    background-color: white;
    
    
}
.rightSide input[type="submit"]{
      display: block;
      border: 3px solid black;
      padding: 7px;
      margin: 30px auto;
      margin-top: 60px;
      border-radius: 25px;
      width: 25%;
      font-family: fantasy;
      font-size: large;
      cursor: pointer;
      min-width: fit-content;
}
.rightSide img{
    margin: 15px 15px 50px 15px;
   padding: auto;
    color: black;
    border-radius: 50%;
    
}

    
    

.leftSide img{
    margin-left: 5px;
    margin-top:-60px ;
    margin-bottom:30px ;
    border-radius: 50%;
    
}
.rightSide label{
    border: none;
    
}


p{
  margin: auto;
  margin-bottom: 15px;
  margin-left: 10px;
    margin-top: 5px;
    font-family: fantasy;
    
    font-size: 25px;
}
.leftSide input[type="submit"]:hover{
    background-color: rgb(41, 109, 197);
}
.rightSide input[type="submit"]:hover{
    background-color: rgb(41, 109, 197);
}


  

  